<%- contentFor('body') %>

<div class="row">
    <div class="col-sm-12 pt-3">
        <h4><small>POSTS</small></h4>

        <a href="/posts/create" class="btn btn-success btn-sm">Novo Post</a>

        <hr />

        <% posts.forEach(function (post) { %>
            <div class="pb-3">
                <h2><%= post.title %></h2>
                <p><%= post.content %></p>

                <div>
                    <a href="/posts/<%= post._id %>" class="btn btn-info btn-sm">Ver</a>
                    <a href="/posts/<%= post._id %>/edit" class="btn btn-primary btn-sm">Editar</a>

                    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST" class="form-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>
</div>